{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ appHeading({
      text: heading
    }) }}

    {% if errorList %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
    {% endif %}

    <form class="form" action="{{ postBackUrl }}" method="post">
      {{ govukInput({
        id: "tag",
        name: "tag",
        value: formValues.tag,
        label: {
          text: "Animal ear tag number",
          classes: "govuk-label--m"
        },
        errorMessage: errors.tag ? { text: errors.tag } : null,
        prefix: {
          text: "UK 123456"
        }
      }) }}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        errorMessage: errors.dob ? { text: errors.dob } : null,
        fieldset: {
          legend: {
            text: "Date of birth",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        items: [
          {
            name: "day",
            value: formValues["dob-day"]
          },
          {
            name: "month",
            value: formValues["dob-month"]
          },
          {
            name: "year",
            value: formValues["dob-year"]
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "sex",
        errorMessage: errors.sex ? { text: errors.sex } : null,
        fieldset: {
          legend: {
            text: "What is the sex?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select an option"
        },
        items: [
          {
            value: "male",
            text: "Male",
            checked: formValues.sex === "male"
          },
          {
            value: "female",
            text: "Female",
            checked: formValues.sex === "female"
          }
        ]
      }) }}

      {{ govukSelect({
        id: "breed",
        name: "breed",
        errorMessage: errors.breed ? { text: errors.breed } : null,
        label: {
          text: "Breed of calf",
          classes: 'govuk-label--m'
        },
        items: breeds
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
