{% extends 'layouts/data-page.njk' %}

{% block pageContent %}
    <form class="form" action="{{ postBackUrl }}" method="post">
      {{ govukInput({
        id: "calf_tag",
        name: "calf_tag",
        value: formValues.calf_tag,
        label: {
          text: "Animal ear tag number",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Start typing the last 6 digits of the ear tag number and select from the list"
        },
        errorMessage: { text: errors.calf_tag } if errors.calf_tag
      }) }}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        errorMessage: { text: errors.dob } if errors.dob,
        fieldset: {
          legend: {
            text: "Date of birth",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        items: [
          {
            name: "day",
            value: formValues["dob-day"],
            classes: "govuk-input--width-2"
          },
          {
            name: "month",
            value: formValues["dob-month"],
            classes: "govuk-input--width-2"
          },
          {
            name: "year",
            value: formValues["dob-year"],
            classes: "govuk-input--width-4"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "sex",
        errorMessage: { text: errors.sex } if errors.sex,
        fieldset: {
          legend: {
            text: "Sex of the calf",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select an option"
        },
        items: [
          {
            value: "male",
            text: "Male",
            checked: formValues.sex === "male"
          },
          {
            value: "female",
            text: "Female",
            checked: formValues.sex === "female"
          }
        ]
      }) }}

      {{ govukSelect({
        id: "breed",
        name: "breed",
        errorMessage: { text: errors.breed } if errors.breed,
        label: {
          text: "Breed of calf",
          classes: 'govuk-label--m'
        },
        hint:{
          text: "Start typing the breed or enter the breed code to select from the list"
        },
        items: breeds
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
{% endblock %}
