{% extends 'layouts/data-page.njk' %}

{% block pageContent %}
  <form class="form" action="{{ postBackUrl }}" method="post">
    <p>
      By submitting this cattle birth report you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    {{ govukButton({
      text: "Accept and send"
    }) }}
    </form>
{% endblock %}
