{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appHeading({
        text: "Sire details"
      }) }}

      <form class="form" action="{{ postBackUrl }}" method="post">
        {% set tagHtml %}
          {{ govukInput({
            id: "uniqueTag",
            name: "uniqueTag",
            hint:{
              text: 'Add the individual tag number'
            },
            prefix: {
              text: "UK 123456"
            }
          }) }}
        {% endset %}

        {% set aiHtml %}
          {{ govukInput({
            id: "aiRef",
            name: "aiRef",
            hint: {
              text: 'Enter the AI reference number'
            }
          }) }}
        {% endset %}

        {% set pedigreeHtml %}
          {{ govukInput({
            id: "pedigreeRef",
            name: "pedigreeRef",
            hint: {
              text: 'Pedigree information'
            }
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "identifySire",
          fieldset: {
            legend: {
              text: "Can you identify the sire?",
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: 'Select an option'
          },
          items: [
            {
              value: "uniqueTag",
              text: "Unique tag number",
              conditional: {
                html: tagHtml
              }
            },
            {
              value: "aiRef",
              text: "AI reference number",
              conditional: {
                html: aiHtml
              }
            },
            {
              value: "pedigree",
              text: "Pedigree",
              conditional: {
                html: pedigreeHtml
              }
            },
            {
              value: "none",
              text: "I don't have any details"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
