{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ appHeading({
      text: "Check your cattle birth report details"
    }) }}

    {{ govukSummaryList({
      rows: rows
    }) }}

    <h2 class="govuk-heading-m">
      Now submit your cattle birth report
    </h2>
    <p>
      By submitting this cattle birth report you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <form class="form" action="{{ postBackUrl }}" method="post">
      {{ govukButton({
        text: "Accept and send"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
